//npm.pkg.github.com/:_authToken=TOKEN

$ npm login --scope=@OWNER --registry=https://npm.pkg.github.com

> Username: USERNAME
> Password: TOKEN
> Email: PUBLIC-EMAIL-ADDRESS

@OWNER:registry=https://npm.pkg.github.com

$ npm publish

"publishConfig": {
  "registry":"https://npm.pkg.github.com"
},

$ npm publish

"repository":"https://github.com/OWNER/REPOSITORY",

@OWNER:registry=https://npm.pkg.github.com

{
  "name": "@my-org/server",
  "version": "1.0.0",
  "description": "Server app that uses the @octo-org/octo-app package",
  "main": "index.js",
  "author": "",
  "license": "MIT",
  "dependencies": {
    "@octo-org/octo-app": "1.0.0"
  }
}

$ npm install

@OWNER:registry=https://npm.pkg.github.com
@OWNER:registry=https://npm.pkg.github.com
